<!-- Used by all builtin themes. Now we list number of essays and projects. -->

{% assign essay_pages = site.pages | where: "type", "essay"  | where_exp: "page", "page.draft != true" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %}
{% assign num_essays = essay_pages.size %}
{% assign num_projects = project_pages.size %}
<nav id="nav">
  <ul class="container">
    <li><a href="{{ site.baseurl }}/"><i class="fa fa-home"></i></a></li>
    <li><a href="{{ site.baseurl }}/#portfolio">Compétences</a></li>
    <li><a href="{{ site.baseurl }}/#work">Activités</a></li>
    <li><a href="{{ site.baseurl }}/journaux/">Journal</a></li>
    <li><a href="{{ site.baseurl }}/#contact">Contact</a></li>
  </ul>
</nav>
